//
//  Production.xcconfig
//  iWorkFlowMultiEnv
//
//  Created by GSE on 22/5/19.
//  Copyright © 2019 GSE. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Configs server
APP_ENVIRONMENT = Production
API_URL = https:/$()/www.example.test.com

// Keys
API_KEY = 66662Zwx10_pzl8420mk971

// App Settings
APP_NAME = Demo
APP_BUNDLE_ID = com.example.demo
APP_VERSION = 1.0
